@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Gilroy";
  src: url(../../Gilroy-Light.ttf);
}
* {
  font-family: "Gilroy";
}
::selection {
  background-color: #f9f871;
  color: #000;
}
